<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d0d0b6">
	<tbody>
		<tr>
			<td colspan="3" valign="top"><a href="http://app.bureauveritas.com.pe/scs/homologacion" target="_blank" rel="noopener noreferrer"><img data-imagetype="External" src="http://app.bureauveritas.com.pe/scs/homologacion/assets/website/images/topper.jpg" border="0" style="display:block"></a> </td>
		</tr>
		<tr>
			<td colspan="3" valign="top"><img data-imagetype="External" src="http://app.bureauveritas.com.pe/scs/homologacion/assets/website/images/top.jpg" border="0" style="display:block"> </td>
		</tr>
		<tr>
			<td valign="top"><img data-imagetype="External" src="http://app.bureauveritas.com.pe/scs/homologacion/assets/website/images/left.jpg" border="0" style="display:block;width:51px;"></td>
			<td width="570" align="left" valign="top" bgcolor="#dcdcdc" style="font-family: arial;font-size: 16px;">
				<div width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 0 80px 0 80px;">
					@@MENSAJE@@
				</div>
			</td>
			<td valign="top"><img data-imagetype="External" src="http://app.bureauveritas.com.pe/scs/homologacion/assets/website/images/right.jpg" border="0" style="display:block;width:52px;"></td>
		</tr>
	</tbody>
</table>